<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @community_user.user %>
</p>

<p>
  <strong>Community:</strong>
  <%= @community_user.community %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @community_user.admin %>
</p>

<p>
  <strong>Subscriber:</strong>
  <%= @community_user.subscriber %>
</p>

<p>
  <strong>Banned:</strong>
  <%= @community_user.banned %>
</p>

<%= link_to 'Edit', edit_community_user_path(@community_user) %> |
<%= link_to 'Back', community_users_path %>
