<%= form_for([@post, @post_vote]) do |f| %>
  <% if @post_vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post_vote.errors.count, "error") %> prohibited this post_vote from being saved:</h2>

      <ul>
      <% @post_vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :upvote %><br>
    <%= f.check_box :upvote %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :post_id %><br>
    <%= f.text_field :post_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
