.row
  .col-sm-1.post-vote
    .row
      = upvote_button(post_upvote_path(post), post, current_user, "post")
    .row
      %span.votes{:id => "post-count-"+post.id.to_s}= post.get_upvotes.size - post.get_downvotes.size
    .row
      = downvote_button(post_upvote_path(post), post, current_user, "post")
  .col-sm-8
    .row
      = link_to post.title, post.url
    .row
      = 'Posted ' + time_ago_in_words(post.created_at) + ' by ' + post.user.email + ' to '
      = link_to post.community.name, community_by_name_path(post.community)
      %br
      = comments_link post
      - if current_user && current_user.id == post.user.id
        |
        = link_to 'Edit', edit_post_path(post)
        |
        = link_to 'Delete', post , method: :delete, data: { confirm: 'Are you sure?' }
      %hr