.row
  .col-sm-1
    .row
      = link_to '', post_upvote_path(post), class: "glyphicon glyphicon-chevron-up"
    .row
      = post.get_upvotes.size - post.get_downvotes.size
    .row
      = link_to '',  post_downvote_path(post), class: "glyphicon glyphicon-chevron-down"
  .col-sm-8
    .row
      = link_to post.title, post.url
    .row
      = 'Posted ' + time_ago_in_words(post.created_at) + ' by ' + post.user.email + ' to '
      = link_to post.community.name, community_by_name_path(post.community)
      %br
      = link_to post.comment_threads.size.to_s + " comment".pluralize(post.comment_threads.size), post_by_title_path(post.community, post)
      - if current_user
        = link_to 'Edit', edit_post_path(post)
        = link_to 'Destroy', post , method: :delete, data: { confirm: 'Are you sure?' }
      %hr