.col-sm-8
  %p#notice= notice
  %p
    %strong Url:
    = @post.url
  %p
    %strong Text:
    = @post.text
  - if @post.user
    %p
      %strong User:
      = @post.user.email
  %p
    %strong Community:
    = @post.community.name
  = link_to 'Edit', edit_post_path(@post)
  |
  \#{link_to 'Back', posts_path}

  = render 'post_votes/form'

  .comments
    - @comments.each do |comment|
      .panel.panel-default
        .panel-heading
          = comment.user.email
        .panel-body
          = comment.text
      %br

  = render 'comments/form'
.col-sm-4
  .panel
    Subscribe: