.row
  %p#notice= notice

.row
  .col-sm-8
    = render @post

.row
  .comments
    - @comments.each do |comment|
      .panel.panel-default
        .panel-heading
          = comment.user.email
        .panel-body
          = comment.text
      %br

  = render 'comments/form'
